*{
    padding:0px;
    margin: 0px;
    box-sizing: border-box;
}



body{
    width: 300px;
    height: 300px;
    /* background-color: rgb(23, 4, 51); */
    display: flex;
    justify-content: center;
    background-image: url(logo.jpeg);
    background-color: rgba(255,255,255,0.9);
    background-blend-mode: lighten;
    background-size: 100px;
}

/* .img{
    opacity: 0.4;
} */

p{
    display: inner-flex;
    margin: auto 10px;
    font-family: monospace;
    font-size: 20px;
    text-align: center;
    align-content: space-between;
    color: rgb(90, 3, 3);
    text-shadow: 2px;
    cursor: pointer;
    background-color: antiquewhite;
    border-radius: 6px;
    border: 1px solid rgb(84, 15, 44);
    box-shadow: 2px;
    border-style: solid;
    padding: 10px;
}

p:hover{
    transform: translateY(-2px);
}
